.rtl-smart-fixed {
  unicode-bidi: plaintext;
}

.rtl-smart-fixed[dir="rtl"] {
  text-align: right !important;
}

input.rtl-smart-fixed[dir="rtl"],
textarea.rtl-smart-fixed[dir="rtl"],
[contenteditable].rtl-smart-fixed[dir="rtl"],
[role="textbox"].rtl-smart-fixed[dir="rtl"] {
  direction: rtl !important;
  text-align: right !important;
}
